.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .title {
    display: flex;
    align-self: flex-start;
    gap: 1rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 1rem;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      background-color: #e9ff6d;
    }
  }

  h3 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    align-self: flex-start;
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
