.main {
  width: 300px;
  background-color: #c07efa;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;

  img {
    width: 300px;
    height: 250px;
    object-fit: cover;
  }

  h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    align-self: flex-start;
  }

  .price {
    font-size: 1rem;
  }

  .btns {
    display: flex;
    gap: 0.8rem;
    align-self: flex-start;

    button {
      width: 80px;
      border: none;
      padding: 0.5rem 0.6rem;
      background-color: #e9ff6d;
      color: black;
      font-weight: 600;
      border-radius: 0.2rem;
      box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
      cursor: pointer;
    }
  }
}
